nav.pagination {
  display: block;
  margin: 2em 0;
}
nav.pagination a, nav.pagination .page.current {
  padding: 4px;
  text-decoration: none;
  font-weight: bold;
}
nav.pagination .page.current {
  color: red;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

quotation {
  position: relative;
}
#tag_cloud {
  background-color: #E1F5C4; /* jasnozielony */
  padding: 1em;
  width: 250px;
  position: absolute;
  right: 1em;
  top: 1em;
}
